/* Style the header with lightest brown colour, move the links to the right */
#header{
  background-color:rgb(133, 114, 83);
  height: 80px;
}
.navigation{
  background-color: rgb(133, 114, 83);
  height: 80px;
  animation-name: nava;
  animation-duration: 10s;
}
@keyframes nava {
  0%{background-color:red;}
   50%{background-color:yellow;}  
}
.navigation ul{
  float: right;
  margin-right: 50px;
}
.navigation ul li{
  list-style-type: none;
  font-size: 20px;
  display: inline-block;
  padding:5px;
  margin: 5px;
}
.navigation ul li a{
  text-decoration: none;
}
.navigation ul li a:hover{
  text-decoration: underline;
  color: rgb(110, 17, 17);
  font-size: 25px;
}